<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <style>
            div {overflow-wrap: break-word;}
        </style>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper blue lighten-3">
              <a href="#" class="brand-logo right">Bitcoin Wallet</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <!-- <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li> -->
              </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#test1"><div class="blue-text text-darken-2">Add node</div></a></li>
                    <li class="tab col s3"><a class="active" href="#test2"><div class="blue-text text-darken-2">Wallet</div></a></li>
                    <li class="tab col s3 "><a href="#test3"><div class="blue-text text-darken-2">Transactions</div></a></li>
                    <li class="tab col s3"><a href="#test4"><div class="blue-text text-darken-2">Mine/View</div></a></li>
                  </ul>
                </div>
                <div id="test1" class="col s12">
                    <h6>Add Node</h6>
            
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="host" value="127.0.0.1" type="text" class="validate">
                      <label for="host">Host</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="port" type="text" class="validate">
                      <label for="port">Port(e.g.5001)</label>
                    </div>
                  </div>
                  <a id="register_node" class="waves-effect waves-light btn">Register Node</a>
                </form>
                    <div id="node_message"></div>
                    <div id="node_table" class="col s12"></div>
                    <div id="all_node"></div>
                </div>
                </div>
                
                <div id="test2" class="col s12">
                    <div class="row">
                        <form class="col s12"><!--todo-->
                            <div class="card-panel">
                            <h6>Wallet</h6>
                            <div class="row">
                                <div class="input-field col s12">
                                <input id="add_wallet_amount" type="number" class="validate">
                                <label for="add_wallet_amount">Amount</label>
                                </div>
                            </div>
                            </div>
                          <a id="topup_wallet" class="waves-effect waves-light btn">Add Balance To Wallet</a>
                          <a id="check_wallet" class="waves-effect waves-light btn">Check Wallet Balance</a>
                        </form>
                        <div id="add_wallet_amount_message"></div>
                        <div class="col s12">
                            <div class="card-panel">
                            <div id="wallet_table"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test3" class="col s12">
                    <div class="row">
                        <form class="col s12">
                        <h6>Make New Transactions</h6>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="recipient_address" type="text" class="validate">
                              <label for="recipient_address">Recipient address</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="amount" type="number" class="validate">
                              <label for="amount">Amount</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="signature" type="text" class="validate">
                              <label for="signature">Signature</label>
                            </div>
                          </div>
                          <a id="new_transaction" class="waves-effect waves-light btn">Make New Transaction</a>
                        </form>
                        <div id="new_transaction_message"></div>
                        <div id="new_transaction_warning"></div>
                        <div id="output_signature"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <form class="col s12">
                        <h6>Get Transactions</h6>
                        <a id="get_transactions" class="waves-effect waves-light btn">Get Transactions</a>
                        </form>
                        <div class="col s12">
                            <h6>Transaction Record:</h6>
                            <div id="transaction_table">
                            </div>
                            <h6>My Transaction Record:</h6>
                            <div id="my_transaction_table">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test4" class="col s12">
                
                
                
                <div class="row">
                    <form class="col s12">
                    <h6>Consensus</h6>
                    <a id="consensus" class="waves-effect waves-light btn">Get consensus</a>
                    <div id="consensus_message"></div>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <form class="col s12">
                        <h6>Mine</h6>
                    <a id="mine" class="waves-effect waves-light btn">Mine</a>
                    <ul id="mine_table" class="collection with-header"></ul>
                    <div id="mine_message"></div>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <form class="col s12">
                    <h6>Get chain</h6><!--todo-->
                    <a id="get_chain" class="waves-effect waves-light btn">Get Chain</a>
                    <div id="chain_table">
                    </div><!-- visualise -->
                    </form>
                </div>
                <div class="divider"></div>
            </div>
              </div>
            
            

            <!-- <div class="row">
                <form class="col s12">
                    <h6>Interest</h6>
                <a id="interest" class="waves-effect waves-light btn">Interest</a>
                <ul id="interest_table" class="collection with-header"></ul>
                <div id="interest_message"></div>
                </form>
            </div> -->
        </div>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
        M.AutoInit();
        var host_port = "{{host_port}}";
        // var host_port = "5000";

        $(document).ready(function () {
            $("#register_node").click(function (e) {
                var host = document.getElementById("host").value;
                var port = parseInt(document.getElementById("port").value);

                var server_data = {
                    "host": host,
                    "port": port,
                };
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:"+host_port+"/register_node",
                    // url: "http://127.0.0.1:5000/register_node",
                    data: JSON.stringify(server_data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result, status) {
                        var message = result["message"];
                        var chain = result["blockchain"];
                        var nodes = result["total_nodes"];
                        var all_node = "";

                        $("#node_table").html("");
                        $("#node_message").html("");
                        $("#all_node").html("");
                        for(var i in nodes){
                            all_node += nodes[i] + "<br>";
                        }

                        $("#node_message").html(message);
                        $("#all_node").html(all_node);

                        for(var i in chain){
                            var record = chain[i];
                            record = JSON.parse(record);
                            var transactions = record.transactions;
                            transactions = JSON.parse(transactions);
                            var template_table = '<div id="chain" class="card-panel"><div class="row"><div class="col s4 push-s8"><span class="flow-text">Index:'+ record.index+'</span></div><div class="col s8 pull-s4"><b>Timestamp: </b>'+ record.timestamp+'<br><b>Previous hash:</b>'+ record.previous_hash+'<br><b>hash:</b>'+ record.hash+'<br><b>Nonce: </b>'+ record.nonce+'<br><b>Difficulty: </b>'+ record.difficulty+'<br> </div></div><div class="divider"></div><div class="section"><h5>Transaction</h5><p><b>Sender: </b>'+ transactions.sender ||" " +'<br><br><b>Recipient: </b>'+ transactions.recipient||" " +'<br><br><b>Value: </b>'+ transactions.value||" " +'<br></p><div class="divider"></div></div>';
                            $("#node_table").append(template_table);
                        }

                        
                    
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#mine").click(function (e) {
                $.ajax({
                    type: "GET",
                    // url: "http://127.0.0.1:5000/mine",
                    url: "http://127.0.0.1:"+host_port+"/mine",
                    dataType: "json",
                    success: function (result, status) {
                        var message = result["message"];
                        if(message){
                            $("#mine_message").html(message);
                        }else{
                            var list = $("#mine_table");
                            list.html("");

                            list.append("<li class=\"collection-header\"><h6>New Block</h6></li>");
                            list.append("<li class=\"collection-item\"><div>Index:<div class=\"secondary-content\"> "+result["index"]+ " </div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Transactions:<div class=\"secondary-content\">"+result["transactions"]+ "</div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Timestamp:<div class=\"secondary-content\">"+result["timestamp"]+ "</div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Previous_hash:<div class=\"secondary-content\">"+result["previous_hash"]+ "</div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Hash:<div class=\"secondary-content\">"+result["hash"]+ "</div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Nonce:<div class=\"secondary-content\">"+result["nonce"]+ "</div></div></li>");
                            list.append("<li class=\"collection-item\"><div>Difficulty:<div class=\"secondary-content\">"+result["difficulty"]+ "</div></div></li>");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#consensus").click(function (e) {
                $.ajax({
                    type: "GET",
                    // url: "http://127.0.0.1:5000/consensus",
                    url: "http://127.0.0.1:"+host_port+"/consensus",
                    dataType: "json",
                    success: function (result, status) {
                        var message = result["message"];
                        $("#consensus_message").html(message);
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#check_wallet").click(function (e) {
                $.ajax({
                    type: "GET",
                    // url: "http://127.0.0.1:5000/myWallet/wallet",
                    url: "http://127.0.0.1:"+host_port+"/myWallet/wallet",
                    dataType: "json",
                    success: function (result, status) {
                        var table = $("#wallet_table");
                        table.html("");
                       
                        var template = '<div class="section"><h5>Wallet:</h5><p><div><b>Sender: </b>'+ result["public_key"]+'</div><div class="divider"></div><br><div><b>Private Key: </b>'+ result["private_key"]+'</div><br><div class="divider"></div><div><b>Balance: </b>'+ result["balance"]+'</div><br></p><div class="divider"></div></div>';
                        table.append(template);
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#topup_wallet").click(function (e) {
                var amount = parseInt(document.getElementById("add_wallet_amount").value);
                var server_data = {
                    "amount": amount,
                };
                $.ajax({
                    type: "POST",
                    // url: "http://127.0.0.1:5000/myWallet/wallet",
                    url: "http://127.0.0.1:"+host_port+"/myWallet/wallet",
                    data: JSON.stringify(server_data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result, status) {
                        var message = result["message"];
                        $("#add_wallet_amount_message").html(message);

                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#new_transaction").click(function (e) {
                var recipient_address = document.getElementById("recipient_address").value;
                var amount = parseInt(document.getElementById("amount").value);
                var signature = document.getElementById("signature").value;

                var server_data = {
                    "recipient_address":recipient_address,
                    "amount": amount,
                    "signature": signature,
                };
                $.ajax({
                    type: "POST",
                    // url: "http://127.0.0.1:5000/new_transaction",
                    url: "http://127.0.0.1:"+host_port+"/new_transaction",
                    dataType: "json",
                    data: JSON.stringify(server_data),
                    contentType: "application/json",
                    success: function (result, status) {
                        var message = result["message"];
                        var warning = result["reminder"]|result["warning"];
                        var output_signature = result["signature"];
                        $("#new_transaction_message").html(message);
                        $("#new_transaction_warning").html(warning);
                        $("#output_signature").html("Signature: "+output_signature||"");
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#get_transactions").click(function (e) {
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:"+host_port+"/get_transactions",
                    // url: "http://127.0.0.1:"+port+"/get_transactions",
                    dataType: "json",
                    success: function (result, status) {
                        var transaction_table = $("#transaction_table");
                        var my_transaction_table = $("#my_transaction_table");
                        var transactions = result["transactions"];
                        var mytransactions = result["my_transactions_record"]; 

                        transaction_table.html("");
                        my_transaction_table.html("");
                        for(var i in transactions){
                            var transaction = JSON.parse(transactions[i]);
                            transaction_table.append('<div class="card-panel"><p><b>Sender: </b>'+ transaction.sender||''+'<br><br><b>Recipient: </b>'+ transaction.recipient||''+'<br><br><b>Value: </b>'+ transaction.value||''+'<br></p><div class="divider"></div></div>');
                        }

                        for(var i in mytransactions){
                            var transaction = JSON.parse(mytransactions[i]);
                            my_transaction_table.append('<div class="card-panel"><p><b>Sender: </b>'+ transaction.sender||''+'<br><br><b>Recipient: </b>'+ transaction.recipient||''+'<br><br><b>Value: </b>'+ transaction.value||''+'<br></p><div class="divider"></div></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
            $("#get_chain").click(function (e) {
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:"+host_port+"/chain",
                    // url: "http://127.0.0.1:"+port+"/get_transactions",
                    dataType: "json",
                    success: function (result, status) {
                        var chain_table = $("#chain_table");
                        var chain = result["chain"];
                        chain_table.html("")
                        for(var i in chain){
                            if(i == 0)continue;
                            var record = chain[i];
                            record = JSON.parse(record);
                            var transactions = record.transactions;
                            transactions = JSON.parse(transactions);
                            var template_table = '<div id="chain" class="card-panel"><div class="row"><div class="col s4 push-s8"><span class="flow-text">Index:'+ record.index+'</span></div><div class="col s8 pull-s4"><b>Timestamp: </b>'+ record.timestamp+'<br><b>Previous hash:</b>'+ record.previous_hash+'<br><b>hash:</b>'+ record.hash+'<br><b>Nonce: </b>'+ record.nonce+'<br><b>Difficulty: </b>'+ record.difficulty+'<br> </div></div><div class="divider"></div><div class="section"><h5>Transaction</h5><p><b>Sender: </b>'+ transactions.sender+'<br><br><b>Recipient: </b>'+ transactions.recipient+'<br><br><b>Value: </b>'+ transactions.value+'<br></p><div class="divider"></div></div>';
                            chain_table.append(template_table);                            
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            });
        });
        </script>
    </body>
</html>